body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Changed to black */
    color: #ddd; /* Changed to light grey */
}
.temperature {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #333; /* Dark background for contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.temperature h1 {
    font-size: 3em;
    margin: 0;
    color: #fff; /* White text */
}
.temperature-value {
    font-size: 1.5em;
    color: #ddd; /* Light grey text */
}
.timestamp {
    font-size: 0.8em;
    font-style: italic;
    color: #bbb; /* Slightly darker grey text */
}
.loading-indicator {
    font-size: 1em;
    color: #aaa;
    margin-top: 10px;
}
.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 10;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.time-range label {
    margin-right: 10px;
    font-size: 1em;
}
.time-range input[type="radio"] {
    transform: scale(1);
}

/* Make radio buttons bigger on mobile screens */
@media (max-width: 600px) {
    .time-range label {
        font-size: 1.2em;
    }
    .time-range input[type="radio"] {
        transform: scale(1.5);
    }
}

/* Limit chart width on small screens */
@media (max-width: 400px) {
    .chart-container {
        width: 100%;
    }
    canvas#temperatureChart {
        width: 100% !important;
        height: auto !important;
    }
}
